$gold: #D88600;
$brown: #623C00;
$chalk : #DCD2C2;
$navyBlue: #838892;
$darkBlue: #031941;
$logo:'Exo', sans-serif;

/*Palleton Url: http://www.paletton.com/#uid=30P050kmdlz3Jrz6auuKQcgRXr3*/

/*----------------Home Page-----------------*/

li.placeholder {background: rgb(255,240,120);}
li.placeholder:before {
  content: "Drop here";
  color: rgb(225,210,90);
}

body {
  background-image: url(../images/back.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

#home {  
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-brand {
  a {
    font-family: $logo;
  }

 span {
    color: $gold;
  }
}

#hero-section {
  background-image: url(../images/background2.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

#info-section {
  height: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
}

/*------------------Data Table -------------*/

#data-table {
  border: solid;
  width: 100%;
  height: 400px;
  display: inline-block;
  overflow: scroll;
}

.cell {
  border: solid;
  width: 33%;
  height: 50px;
  display: inline-block;
}

.cell > div {
  display: inline-block;
  padding-right: 20px;
}

.display-name {
  float: left;

}

.spread {
  /*float: left;*/
}

/*.bid-ask {
  float: left;
}*/

.highlight {
  background-color: rgba(216,134,0,.5);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.show-increase {
  background-color: green;
  animation: fadeIn 1s ease-in;
}

.show-decrease {
  background-color: red;
}
/*---------------History Table ----------------*/

#history-table {
  height: 600px;
  width: 100%;
  float: right;
  border: solid;
  background-color: rgba(133,143,161,.5);
}

.history-instrument {
  text-align: center;
}



/*-------------Flag Pictures----------------*/

.flags {
  float: left;
  div {
    display: inline-block;
    height: 20px;
    width: 30px;
    background-size: cover;
  }
}

.graph-flag {
  text-align: center;
  div {
    display: inline-block;
    height: 20px;
    width: 30px;
    background-size: cover;
  }
}

.usd {
  background-image: url(../images/flags/usd.png);
  
  
}

.cad {
  background-image: url(../images/flags/cad.png);
  background-size: cover;
}

.eur {
  background-image: url(../images/flags/eur.png);
  background-size: cover;
}

.jpy {
  background-image: url(../images/flags/jpy.png);
  background-size: cover;
}









