$gold: #D88600;
$brown: #623C00;
$chalk : #DCD2C2;
$navyBlue: #838892;
$darkBlue: #031941;

/*Palleton Url: http://www.paletton.com/#uid=30P050kmdlz3Jrz6auuKQcgRXr3*/

/*----------------Home Page-----------------*/

body {
  background-color: $darkBlue;
}

#home {
  background-image: url(../images/background2.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

#info-section {
  height: 400px;
}

/*------------------Data Table -------------*/

#data-table {
  border: solid;
  width: 500px;
  display: inline-block;
}

.active-cell {
  background-color: blue;
}

.cell {
  border: solid;

}

.cell > div {
  display: inline-block;
  padding-right: 20px;
}

.display-name {
  float: left;
}

.spread {
  float: left;
}

/*.bid-ask {
  float: left;
}*/

.highlight {
  background-color: orange;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.show-increase {
  background-color: green;
  animation: fadeIn 1s ease-in;
}

.show-decrease {
  background-color: red;
}
/*---------------History Table ----------------*/

#history-table {
  height: 400px;
  width: 800px;
  float: right;
  border: solid;
}