/* 700 and 400*/
/*Palleton Url: http://www.paletton.com/#uid=30P050kmdlz3Jrz6auuKQcgRXr3*/
/*----------------Home Page-----------------*/
body {
  /*background-image: url(../images/back.jpeg);*/
  background-color: #F0F0F0;
  background-size: cover;
  background-attachment: fixed;
  transform: translateZ(0); }

#home {
  padding-left: 0px;
  padding-right: 0px; }

#navigation {
  margin-bottom: 0px; }

.navbar {
  height: 60px; }

.nav {
  height: 100%; }

#history-button {
  height: 55px;
  border: none; }

.navbar-brand {
  font-size: 30px; }
  .navbar-brand a {
    font-family: "Exo", sans-serif; }
  .navbar-brand span {
    color: #D88600; }

#hero-section {
  background-image: url(../images/background2.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover; }

#info-section {
  height: 200px;
  margin-top: 100px;
  margin-bottom: 100px; }

/*------------------Data Table -------------*/
#data-table {
  width: 100%;
  height: 645px;
  display: inline-block;
  overflow: scroll;
  padding-top: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

#filters label {
  padding-right: 10px; }
  #filters label span {
    padding-left: 5px; }

#data-buttons {
  list-style-type: none; }

.cell {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  /*border-radius: 5px 5px 5px 5px;*/
  width: 15%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 40px;
  height: 200px;
  display: inline-block;
  vertical-align: middle;
  /*-webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;*/ }

.cell:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); }

.flags {
  text-align: center;
  margin-top: 15px;
  background-color: black; }
  .flags div {
    margin-left: 20px;
    display: inline-block;
    height: 50px;
    width: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
    /*-webkit-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.75);*/ }

.display-name {
  text-align: left;
  font-family: "Exo", sans-serif;
  font-size: 20px;
  margin-top: 10px;
  padding-left: 10px; }

.spread {
  margin-top: 10px;
  text-align: center;
  width: 170px;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px 5px 5px 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px; }

.bid-ask-prices {
  text-align: left;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px; }

.bid-price {
  margin-top: 0px;
  display: inline-block; }

.ask-price {
  margin-top: 0px;
  display: inline-block;
  margin-left: 10px; }

.select-box {
  height: 100%;
  width: 100%; }

.highlight {
  background-color: rgba(216, 134, 0, 0.5); }

.show-increase {
  background-color: green;
  webkit-transition: all 1s ease-in-out;
  moz-transition: all 1s ease-in-out;
  ms-transition: all 1s ease-in-out;
  o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-color: none;
  transition: background-color 1s ease-in-out; }

.show-decrease {
  background-color: red;
  webkit-transition: all 1s ease-in-out;
  moz-transition: all 1s ease-in-out;
  ms-transition: all 1s ease-in-out;
  o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-color: 0;
  transition: background-color 1s ease-in-out; }

.show-no-change {
  background-color: transparent;
  ebkit-transition: all 1s ease-in-out;
  moz-transition: all 1s ease-in-out;
  ms-transition: all 1s ease-in-out;
  o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

/*---------------History Table ----------------*/
#history-table {
  height: 600px;
  width: 100%;
  float: right;
  background-color: rgba(133, 143, 161, 0.3);
  position: relative;
  display: none; }

.history-instrument {
  text-align: center;
  font-family: "Exo", sans-serif;
  font-weight: 700;
  font-size: 30px; }

#graph {
  width: 110%;
  position: relative;
  left: -10%;
  overflow: scroll;
  overflow-y: hidden; }

#data-load-icon {
  display: block;
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px; }

#history-load-icon {
  display: block;
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px; }

/*-------------Flag Pictures----------------*/
.graph-flag {
  text-align: center; }
  .graph-flag div {
    display: inline-block;
    height: 20px;
    width: 30px;
    background-size: cover; }

.usd {
  background-image: url(../images/flags-test/usd.png); }

.cad {
  background-image: url(../images/flags-test/cad.png); }

.eur {
  background-image: url(../images/flags-test/eur.png);
  background-size: cover; }

.jpy {
  background-image: url(../images/flags/jpy.png);
  background-size: cover; }

.aud {
  background-image: url(../images/flags/aud.png);
  background-size: cover; }

.gbp {
  background-image: url(../images/flags-test/gbp.png);
  background-size: cover; }

.chf {
  background-image: url(../images/flags/chf.png);
  background-size: cover; }

.nzd {
  background-image: url(../images/flags/nzd.png);
  background-size: cover; }

.hkd {
  background-image: url(../images/flags/hkd.png);
  background-size: cover; }

.cny {
  background-image: url(../images/flags/cny.png);
  background-size: cover; }

.cnh {
  background-image: url(../images/flags/cnh.png);
  background-size: cover; }

.mxn {
  background-image: url(../images/flags/mxn.png);
  background-size: cover; }

.nok {
  background-image: url(../images/flags/nok.png);
  background-size: cover; }

.czk {
  background-image: url(../images/flags/czk.png);
  background-size: cover; }

.try {
  background-image: url(../images/flags/try.png);
  background-size: cover; }

.dkk {
  background-image: url(../images/flags/dkk.png);
  background-size: cover; }

.huf {
  background-image: url(../images/flags/huf.png);
  background-size: cover; }

.pln {
  background-image: url(../images/flags/pln.png);
  background-size: cover; }

.sek {
  background-image: url(../images/flags/sek.png);
  background-size: cover; }

.sgd {
  background-image: url(../images/flags/sgd.png);
  background-size: cover; }

.zar {
  background-image: url(../images/flags/zar.png);
  background-size: cover; }
