/*-----Bootstrap-------*/
.btn:focus {
  outline: none; }

input:focus {
  outline: none; }

/*----------------Home Page-----------------*/
body {
  margin-left: 64px;
  margin-right: 64px;
  background-color: #e2e2e2;
  background-size: cover;
  background-attachment: fixed;
  transform: translateZ(0);
  margin-top: 34px;
  margin-bottom: 120px;
  border-style: solid;
  border-width: .9px;
  border-color: #E4D9BC;
  -webkit-font-smoothing: antialiased; }

#shadow-container {
  -webkit-box-shadow: 0px 0px 71px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 71px -18px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 71px -18px rgba(0, 0, 0, 0.75); }

.container-fluid {
  padding: 0px; }

.hero-title {
  font-weight: bold;
  font-size: 45px;
  color: white;
  margin: auto;
  position: relative;
  top: -350px;
  text-align: center;
  letter-spacing: 1px;
  font-family: helvetica; }
  .hero-title span {
    color: #D88600; }

.sub-title {
  text-align: center;
  font-size: 22px;
  font-family: helvetica;
  margin: auto;
  position: relative;
  top: -350px;
  color: white;
  margin-top: 25px; }

.hero-img {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: relative; }

#hero {
  background-color: rgba(0, 0, 0, 0.4);
  height: 500px;
  width: 100%; }

.buttons {
  width: 100%; }

/*----------------Info Section -------------*/
#info-section {
  font-family: helvetica;
  font-size: 20px;
  background-color: #eeeeee;
  text-align: center;
  height: 400px;
  padding-top: 20px; }

#info-section-title {
  font-size: 25px;
  font-family: helvetica; }

.tech-img {
  display: inline-block;
  height: 120px;
  width: 250px;
  margin-left: 50px; }

.technologies {
  margin-top: 70px;
  width: 100%;
  height: 60px; }

/*------------------Data Table -------------*/
#data-table {
  width: 99.9%;
  height: 645px;
  display: inline-block;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  -webkit-box-shadow: 0px 0px 57px -27px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 57px -27px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 57px -27px rgba(0, 0, 0, 0.75); }

#filters {
  text-align: left;
  background-color: white;
  position: fixed;
  bottom: 650px;
  width: 100%;
  padding: 20px;
  right: .001%; }
  #filters label {
    padding-right: 10px;
    font-size: 17px; }
    #filters label span {
      padding-left: 5px; }

#disclaimer {
  font-style: italic;
  color: red; }

#data-buttons {
  list-style-type: none;
  margin-bottom: 0px;
  padding: 0px; }

#cell-list {
  text-align: center;
  padding-left: 3%;
  padding-right: 3%; }

.cell {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  width: 190px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 40px;
  display: inline-block;
  vertical-align: middle; }

.flags {
  background-color: #4D4D4D;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .flags div {
    padding: 8px;
    display: inline-block;
    height: 50px;
    width: 60px;
    background-size: 100%;
    background-repeat: no-repeat; }
  .flags :last-child {
    margin-left: 9px; }

.display-name {
  text-align: left;
  font-family: helvetica;
  font-size: 20px;
  margin-top: 10px;
  padding-left: 10px;
  letter-spacing: 1.5px; }

.spread {
  text-align: left;
  width: 100%;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px; }
  .spread :first-child {
    font-weight: 400;
    font-size: 15px;
    margin-right: 15px; }

.bid-ask-prices {
  text-align: left;
  padding-left: 20px;
  padding-top: 7px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px; }

.bid-price {
  margin-top: 0px; }

.ask-price {
  margin-top: 0px; }

.select-box {
  height: 100%;
  width: 100%; }

.open-history {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  display: block;
  width: 100px; }

.show-increase {
  background-color: #6E9665;
  webkit-transition: all 1s ease-in-out;
  moz-transition: all 1s ease-in-out;
  ms-transition: all 1s ease-in-out;
  o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-color: none;
  transition: background-color 1s ease-in-out; }

.show-decrease {
  background-color: #B5676B;
  webkit-transition: all 1s ease-in-out;
  moz-transition: all 1s ease-in-out;
  ms-transition: all 1s ease-in-out;
  o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-color: 0;
  transition: background-color 1s ease-in-out; }

.show-no-change {
  background-color: transparent;
  ebkit-transition: all 1s ease-in-out;
  moz-transition: all 1s ease-in-out;
  ms-transition: all 1s ease-in-out;
  o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

/*---------------History Table ----------------*/
#history-table {
  height: 645px;
  width: 100%;
  float: right;
  background-color: white;
  position: relative;
  display: none;
  margin-bottom: 120px;
  border-bottom-style: solid;
  border-bottom-width: .9px;
  border-bottom-color: #E4D9BC; }

#history-info {
  height: 100%; }

.history-instrument {
  margin-left: 140px;
  display: inline-block;
  font-family: helvetica;
  font-weight: 700;
  font-size: 30px; }

#graph {
  width: 100%;
  position: relative;
  overflow: scroll;
  overflow-y: hidden;
  height: 85%; }

.graph-flag {
  margin-left: 130px;
  text-align: left;
  width: 120px;
  height: 40px; }
  .graph-flag div {
    display: inline-block;
    height: 40px;
    width: 50px;
    margin-left: 10px; }

#data-load-icon {
  display: block;
  height: 80px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px; }

#history-load-icon {
  display: block;
  height: 80px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px; }

.graph-close {
  float: right;
  display: inline;
  padding-right: 25px;
  padding-top: 20px;
  cursor: pointer; }

.close-button {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  border: none;
  background-color: white; }

.close-arrow {
  font-size: 20px; }

/* Media Queries */
@media (max-width: 500px) {
  #info-section-title {
    font-size: 19px; }
  #hero {
    height: 300px; }
  .technologies {
    margin-top: 0px; }
  .tech-img {
    height: 50px;
    width: 100px; } }

@media (max-width: 700px) {
  #hero {
    height: 300px; }
  .hero-title {
    top: -200px;
    font-size: 35px; }
  .sub-title {
    top: -200px;
    font-size: 15px; }
  .technologies {
    margin-top: 40px; } }

@media (min-width: 1600px) {
  body {
    width: 1500px;
    margin-left: auto;
    margin-right: auto; } }

@media (max-width: 1350px) {
  .technologies {
    margin-top: 70px; }
  .tech-img {
    height: 100px;
    width: 200px;
    margin-left: 20px; } }

@media (max-width: 1100px) {
  #info-section {
    height: 350px; }
  .tech-img {
    height: 70px !important;
    width: 150px !important; } }

@media (max-width: 850px) {
  body {
    margin-left: 0px;
    margin-right: 0px; } }

@media (max-width: 500px) {
  .technologies {
    margin-top: 20px; } }

/*-------------Flag Pictures----------------*/
.usd {
  background-image: url(../images/flags/usd.png);
  background-size: cover; }

.cad {
  background-image: url(../images/flags/cad.png);
  background-size: cover; }

.eur {
  background-image: url(../images/flags/eur.png);
  background-size: cover; }

.jpy {
  background-image: url(../images/flags/jpy.png);
  background-size: cover; }

.aud {
  background-image: url(../images/flags/aud.png);
  background-size: cover; }

.gbp {
  background-image: url(../images/flags/gbp.png);
  background-size: cover; }

.chf {
  background-image: url(../images/flags/chf.png);
  background-size: cover; }

.nzd {
  background-image: url(../images/flags/nzd.png);
  background-size: cover; }

.hkd {
  background-image: url(../images/flags/hkd.png);
  background-size: cover; }

.cny {
  background-image: url(../images/flags/cny.png);
  background-size: cover; }

.cnh {
  background-image: url(../images/flags/cnh.png);
  background-size: cover; }

.mxn {
  background-image: url(../images/flags/mxn.png);
  background-size: cover; }

.nok {
  background-image: url(../images/flags/nok.png);
  background-size: cover; }

.czk {
  background-image: url(../images/flags/czk.png);
  background-size: cover; }

.try {
  background-image: url(../images/flags/try.png);
  background-size: cover; }

.dkk {
  background-image: url(../images/flags/dkk.png);
  background-size: cover; }

.huf {
  background-image: url(../images/flags/huf.png);
  background-size: cover; }

.pln {
  background-image: url(../images/flags/pln.png);
  background-size: cover; }

.sek {
  background-image: url(../images/flags/sek.png);
  background-size: cover; }

.sgd {
  background-image: url(../images/flags/sgd.png);
  background-size: cover; }

.zar {
  background-image: url(../images/flags/zar.png);
  background-size: cover; }
