/*Palleton Url: http://www.paletton.com/#uid=30P050kmdlz3Jrz6auuKQcgRXr3*/
/*----------------Home Page-----------------*/
li.placeholder {
  background: #fff078; }

li.placeholder:before {
  content: "Drop here";
  color: #e1d25a; }

body {
  background-image: url(../images/back.jpeg);
  background-size: cover;
  background-attachment: fixed; }

#home {
  padding-left: 0px;
  padding-right: 0px; }

.navbar-brand a {
  font-family: "Exo", sans-serif; }

.navbar-brand span {
  color: #D88600; }

#hero-section {
  background-image: url(../images/background2.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover; }

#info-section {
  height: 200px;
  margin-top: 100px;
  margin-bottom: 100px; }

/*------------------Data Table -------------*/
#data-table {
  border: solid;
  width: 100%;
  height: 400px;
  display: inline-block;
  overflow: scroll; }

.cell {
  border: solid;
  width: 20%;
  height: 5%;
  display: inline-block; }

.display-name {
  text-align: center; }

.spread {
  text-align: center; }

.bid-ask-prices {
  text-align: center; }

.highlight {
  background-color: rgba(216, 134, 0, 0.5); }

.show-increase {
  background-color: green;
  animation: fadeIn 1s ease-in; }

.show-decrease {
  background-color: red; }

/*---------------History Table ----------------*/
#history-table {
  height: 600px;
  width: 100%;
  float: right;
  border: solid;
  background-color: rgba(133, 143, 161, 0.5); }

.history-instrument {
  text-align: center; }

/*-------------Flag Pictures----------------*/
.flags {
  text-align: center; }
  .flags div {
    display: inline-block;
    height: 20px;
    width: 30px;
    background-size: cover;
    margin-left: 8px; }

.graph-flag {
  text-align: center; }
  .graph-flag div {
    display: inline-block;
    height: 20px;
    width: 30px;
    background-size: cover; }

.usd {
  background-image: url(../images/flags/usd.png); }

.cad {
  background-image: url(../images/flags/cad.png);
  background-size: cover; }

.eur {
  background-image: url(../images/flags/eur.png);
  background-size: cover; }

.jpy {
  background-image: url(../images/flags/jpy.png);
  background-size: cover; }
